<h1>{{.Titre}}</h1>
<ul>
    {{range .Projets}}
        {{if .Done}}
            <li class="done">{{.Title}}</li>
            <span>This Project is done</span>
        {{else}}
            <li>{{.Title}}</li>
            <span>This Project is yet to be finished</span>
        {{end}}
    {{end}}
</ul>
<head>
<title></title>
</head>
<body>
    <form action="/login" method="post">
        Username:<input type="text" name="username">
        Password:<input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
